altgraph==0.17.4
certifi==2025.8.3
charset-normalizer==3.4.3
colorama==0.4.6
guidata==3.1.0
guiqwt==4.4.4
h5py==3.14.0
idna==3.10
iniconfig==2.1.0
numpy==2.3.3
packaging==25.0
pefile==2023.2.7
pillow==11.3.0
pluggy==1.6.0
Pygments==2.19.2
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
pyperclip==1.11.0
pyqt-tools==1.0.0
PyQt6==6.9.1
PyQt6-Qt6==6.9.2
PyQt6_sip==13.10.2
pytest==8.4.2
PythonQwt==0.14.5
pywin32-ctypes==0.2.3
QtPy==2.4.3
requests==2.32.5
scipy==1.16.1
setuptools==80.9.0
tomli==2.2.1
urllib3==2.5.0
