certifi==2025.8.3
charset-normalizer==3.4.3
guidata==3.1.0
guiqwt==4.4.4
h5py==3.14.0
idna==3.10
numpy==2.3.3
packaging==25.0
pillow==11.3.0
pyqt-tools==1.0.0
PyQt6==6.9.1
PyQt6-Qt6==6.9.2
PyQt6_sip==13.10.2
PythonQwt==0.14.5
QtPy==2.4.3
requests==2.32.5
scipy==1.16.1
tomli==2.2.1
urllib3==2.5.0
